In [14]:
import pandas as pd
import numpy as np
import seaborn as sns

In [15]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [16]:
iris.drop(labels = 'species', axis = 1, inplace = True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [17]:
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum
0           5.1          3.5           1.4          0.2        8.6
1           4.9          3.0           1.4          0.2        7.9
2           4.7          3.2           1.3          0.2        7.9
3           4.6          3.1           1.5          0.2        7.7
4           5.0          3.6           1.4          0.2        8.6

In [18]:
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [19]:
mean = [np.mean(iris['sepal_length']), np.mean(iris['sepal_width']), np.mean(iris['sepal_sum']), np.mean(iris['petal_length']), np.mean(iris['petal_width']), np.mean(iris['petal_sum'])]
# or
mean2 = list(iris.mean()))
summary_dict = {'mean':mean}
#or
summary_df = pd.DataFrame(data = summary_dict)
summary_df

In [20]:
iris.std()

<bound method NDFrame._add_numeric_operations.<locals>.std of      sepal_length  sepal_width  petal_length  petal_width  sepal_sum  \
0             5.1          3.5           1.4          0.2        8.6
1             4.9          3.0           1.4          0.2        7.9
2             4.7          3.2           1.3          0.2        7.9
3             4.6          3.1           1.5          0.2        7.7
4             5.0          3.6           1.4          0.2        8.6
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3        9.7
146           6.3          2.5           5.0          1.9        8.8
147           6.5          3.0           5.2          2.0        9.5
148           6.2          3.4           5.4          2.3        9.6
149           5.9          3.0           5.1          1.8        8.9

     petal_sum
0          1.6
1          1.6
2          1.5
3          1.7
4          1.6
..         ...
145        7.5
146        6.9
147        7.2
148        7.7
149        6.9

[150 rows x 6 columns]>

In [21]:
iris.min()

sepal_length    4.3
sepal_width     2.0
petal_length    1.0
petal_width     0.1
sepal_sum       6.8
petal_sum       1.2
dtype: float64

In [22]:
iris.max()

sepal_length     7.9
sepal_width      4.4
petal_length     6.9
petal_width      2.5
sepal_sum       11.7
petal_sum        9.2
dtype: float64